<!DOCTYPE html>
<html lang="en">

<head>
    <title>Argument Tagger</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="always">
    <link rel="stylesheet" href="{{ path }}static/css/style.css">
    <link rel="stylesheet" href="{{ path }}static/css/demos.css">
</head>
<body>
    <main class="l-main">
        <header class="l-header"><a href="/" class="l-logo"></a>
            <nav>
                <ul class="l-nav u-t-md">
                    <li id="home_li" class="is-active u-strong"><button id="home_link">Analyze Text</button></li>
                    <li id="search_li"><button id="search_link">Search Arguments</button></li>
                    <li><a target="_blank" href="/argsearch-api">API</a></li>
                    <li><a target="_blank" href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/publications/2019-chernodubetal-acl19demo-targer.pdf">Publication</a></li>
                    <li><a target="_blank" href="https://github.com/uhh-lt/rnn2argument-web">Github</a></li>
                </ul>
            </nav>
        </header>
        <div class="l-content">
            <article data-demo="displacy-ent">
                <header class="d-header d-wrapper l-wrapper">
                    <h1 id="page_title" class="u-h2 u-b-sm">Argument Tagger</h1>
                    <div class="o-grid o-grid--half">
                        <div class="u-t-md">
                            <div class="d-input d-input--full">
                                <div class="d-input__wrapper">
                                    <textarea id="text_to_parse" rows="5" cols="5" placeholder="Your text here..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" onfocus="this.select()" class="d-input__field d-input__field--textarea">{% if text and page=="search" %}{{ text }}{% endif %}</textarea>
                                    <button id="button_send" aria-label="Submit" style="min-width: 40px" class="d-button"><img src="{{ path }}static/img/search.png" /></button></div>
                            </div>
                            <div id="model_selector_box" class="d-input">
                                <label class="u-b-xs u-block u-h6">Model to use</label>
                                <div class="d-input__wrapper">
                                    <select id="model" class="d-select" v-model="model">
                                    <option value="ES">Essays (fastText)</option>
                                    <option value="ES_dep">Essays (Dependency)</option>
                                    <option value="NEWPE">Essays (Glove)</option>
                                    <option value="WD">WebDiscourse (fastText)</option>
                                    <option value="WD_dep">WebDiscourse (Dependency)</option>
                                    <option value="NEWWD">WebDiscourse (Glove)</option>
                                    <option value="IBM" selected="selected">IBM (fastText) </option>
                                    <!--<option value="Combo">Combo</option>-->
                                    </select>
                                </div>
                            </div>
                    </div>

                    <div id="label_search_box">
                        <div>
                            <label class="search_option u-t-xs u-strong">
                                <input type="checkbox" id="premise" value="premise" class="search_box" ref="premise"> 
                                <span class="d-input__option__value">PREMISE</span>
                            </label>
                            <label class="search_option u-t-xs u-strong">
                                <input type="checkbox" id="claim" value="claim" class="search_box" ref="claim"> 
                                <span class="d-input__option__value">CLAIM</span>
                            </label>
                            <label class="search_option u-t-xs u-strong">
                                <input type="checkbox" id="named_entity" value="named_entity" class="search_box" ref="named_entity"> 
                                <span class="d-input__option__value">NAMED ENTITY</span>
                            </label>
                            <label class="search_option u-t-xs u-strong">
                                <input type="checkbox" id="text" value="text" class="search_box" ref="text"> 
                                <span class="d-input__option__value">TEXT</span>
                            </label>
                        </div>
                    </div>

                    <div id="label_box">
                        <label class="u-b-xs u-block u-h6">Argument labels</label>
                        <div>
                            <label for="premise" class="d-input__option u-t-xs u-strong">
                                <input type="checkbox" id="premise" value="premise" class="d-input__option__box" ref="premise"> 
                                <span class="d-input__option__value">PREMISE</span>
                            </label>
                            <label for="claim" class="d-input__option u-t-xs u-strong">
                                <input type="checkbox" id="claim" value="claim" class="d-input__option__box" ref="claim"> 
                                <span class="d-input__option__value">CLAIM</span>
                            </label>
                        </div>
                        <div>
                            <label class="u-b-xs u-block u-h6">Entity labels</label>
                            <label for="person" class="d-input__option u-t-xs u-strong" v-show="showLabel('person')">
                                <input id="person" value="person" class="d-input__option__box" v-model="ents" ref="person" data-_extension-text-contrast="bg" type="checkbox"> 
                                <span class="d-input__option__value">PERSON</span>
                            </label>
                            <label for="per" class="d-input__option u-t-xs u-strong" v-show="showLabel('per')">
                                <input id="per" value="per" class="d-input__option__box" v-model="ents" ref="per" data-_extension-text-contrast="bg" type="checkbox"> 
                                <span class="d-input__option__value">PER</span>
                            </label>
                            <label for="norp" class="d-input__option u-t-xs u-strong" v-show="showLabel('norp')">
                                <input id="norp" value="norp" class="d-input__option__box" v-model="ents" ref="norp" data-_extension-text-contrast="bg" type="checkbox"> 
                                <span class="d-input__option__value">NORP</span>
                            </label>
                            <label for="facility" class="d-input__option u-t-xs u-strong" v-show="showLabel('facility')">
                                <input id="facility" value="facility" class="d-input__option__box" v-model="ents" ref="facility" data-_extension-text-contrast="bg" type="checkbox"> 
                                <span class="d-input__option__value">FACILITY</span>
                            </label>
                            <label for="org" class="d-input__option u-t-xs u-strong" v-show="showLabel('org')">
                                <input id="org" value="org" class="d-input__option__box" v-model="ents" ref="org" data-_extension-text-contrast="bg" type="checkbox"> 
                                <span class="d-input__option__value">ORG</span>
                            </label>
                           <label for="gpe" class="d-input__option u-t-xs u-strong" v-show="showLabel('gpe')">
                                <input id="gpe" value="gpe" class="d-input__option__box" v-model="ents" ref="gpe" data-_extension-text-contrast="bg" type="checkbox"> 
                                <span class="d-input__option__value">GPE</span>
                            </label>
                            <label for="loc" class="d-input__option u-t-xs u-strong" v-show="showLabel('loc')">
                                <input id="loc" value="loc" class="d-input__option__box" v-model="ents" ref="loc" data-_extension-text-contrast="bg" type="checkbox"> 
                                <span class="d-input__option__value">LOC</span>
                            </label>
                            <label for="product" class="d-input__option u-t-xs u-strong" v-show="showLabel('product')">
                                <input id="product" value="product" class="d-input__option__box" v-model="ents" ref="product" data-_extension-text-contrast="bg" type="checkbox"> 
                                <span class="d-input__option__value">PRODUCT</span>
                            </label>

                            <label for="event" class="d-input__option u-t-xs u-strong" v-show="showLabel('event')">
                                <input id="event" value="event" class="d-input__option__box" v-model="ents" ref="event" data-_extension-text-contrast="bg" type="checkbox"> 
                                <span class="d-input__option__value">EVENT</span>
                            </label>


                            <label class="u-b-xs u-block u-h6" id="more_labels">+ more labels</label>
                            <div id="more_labels_box" style="display: none;">
                                <label for="work_of_art" class="d-input__option u-t-xs u-strong" v-show="showLabel('work_of_art')">
                                    <input id="work_of_art" value="work_of_art" class="d-input__option__box" v-model="ents" ref="work_of_art" data-_extension-text-contrast="bg" type="checkbox"> 
                                    <span class="d-input__option__value">WORK OF ART</span>
                                </label>
                                <label for="language" class="d-input__option u-t-xs u-strong" v-show="showLabel('language')">
                                    <input id="language" value="language" class="d-input__option__box" v-model="ents" ref="language" data-_extension-text-contrast="bg" type="checkbox"> 
                                    <span class="d-input__option__value">LANGUAGE</span>
                                </label>
                                <label for="date" class="d-input__option u-t-xs u-strong" v-show="showLabel('date')">
                                    <input id="date" value="date" class="d-input__option__box" v-model="ents" ref="date" data-_extension-text-contrast="bg" type="checkbox"> 
                                    <span class="d-input__option__value">DATE</span>
                                </label>
                                <label for="time" class="d-input__option u-t-xs u-strong" v-show="showLabel('time')">
                                    <input id="time" value="time" class="d-input__option__box" v-model="ents" ref="time" data-_extension-text-contrast="bg" type="checkbox"> 
                                    <span class="d-input__option__value">TIME</span>
                                </label>
                                <label for="percent" class="d-input__option u-t-xs u-strong" v-show="showLabel('percent')">
                                    <input id="percent" value="percent" class="d-input__option__box" v-model="ents" ref="percent" data-_extension-text-contrast="bg" type="checkbox"> 
                                    <span class="d-input__option__value">PERCENT</span>
                                </label>
                                <label for="money" class="d-input__option u-t-xs u-strong" v-show="showLabel('money')">
                                    <input id="money" value="money" class="d-input__option__box" v-model="ents" ref="money" data-_extension-text-contrast="bg" type="checkbox"> 
                                    <span class="d-input__option__value">MONEY</span>
                                </label>
                                <label for="quantity" class="d-input__option u-t-xs u-strong" v-show="showLabel('quantity')">
                                    <input id="quantity" value="quantity" class="d-input__option__box" v-model="ents" ref="quantity" data-_extension-text-contrast="bg" type="checkbox"> 
                                    <span class="d-input__option__value">QUANTITY</span>
                                </label>
                                <label for="ordinal" class="d-input__option u-t-xs u-strong" v-show="showLabel('ordinal')">
                                    <input id="ordinal" value="ordinal" class="d-input__option__box" v-model="ents" ref="ordinal" data-_extension-text-contrast="bg" type="checkbox"> 
                                    <span class="d-input__option__value">ORDINAL</span>
                                </label>
                                <label for="cardinal" class="d-input__option u-t-xs u-strong" v-show="showLabel('cardinal')">
                                    <input id="cardinal" value="cardinal" class="d-input__option__box" v-model="ents" ref="cardinal" data-_extension-text-contrast="bg" type="checkbox"> 
                                    <span class="d-input__option__value">CARDINAL</span>
                                </label>
                                <label for="misc" class="d-input__option u-t-xs u-strong" v-show="showLabel('misc')">
                                    <input id="misc" value="misc" class="d-input__option__box" v-model="ents" ref="misc" data-_extension-text-contrast="bg" type="checkbox"> 
                                    <span class="d-input__option__value">MISC</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="d-content l-wrapper u-b-lg l-wrapper--page u-t-md">
                <div id="displacy"></div>
            </section>
        </article>

        <div class="footer-hh">
            <div class="u-c-subtle u-t-xs u-b-xs">Created by the <a style="color: #171919;" target="_blank" href="https://www.inf.uni-hamburg.de/en/inst/ab/lt/home.html">Language Technology Group</a> at the University of Hamburg.</div>
        </div>                    

        <script type='text/javascript' src="{{ path }}static/js/displacy-ent.js"></script>
        <script src="{{ path }}static/js/jquery-3.3.1.min.js"></script>
        <script src="{{ path }}static/js/argminer.js"></script>
        <link rel="stylesheet" href="//hello.myfonts.net/count/323b37">
    </div>
    </main>
</body>

</html>
